body {

	background: url('../images/background2.jpg');
	background-size: cover;

	background: url('../images/background3.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

	
.jumbotron {
	background-color:#ED5D40;
	background: url('../images/background4.jpg');
	color: #F0EAD6;
	    text-shadow:
    -1px -1px 0 #000,
	1px 1px 0 #000; 

	/* border: 2px solid #F0EAD6;  */

	background-repeat: no-repeat;
	background-size: cover;

}

a:hover { 
	text-decoration: underline 
}

a { 
	color: #F0EAD6; 
	text-decoration: none; 
}

.title-text {
	font-family: 'Flamante';
    color: #F0EAD6;
    text-shadow:
    -1px -1px 0 #000,
	1px 1px 0 #000;  
}

p {
	font-family: sans-serif;
}

@font-face {
	font-family: 'Flamante';
	src: url('../fonts/Flamante/Flamante-Serif-FFP.ttf');
	font-weight: 500;
}

.lead {
	margin-top: 20px;
	font-family: sans-serif;
	text-shadow: none;
}

.main-heading {
	margin-top: -40px;
	margin-bottom: 20px;
}

#time {
	color: white;
	height: 200px;
	width: 300px;
}

.steps {
/* 	background-color: #F0EAD6; */
	color: #F0EAD6;
	text-shadow: none;
	/* background-color: #F0EAD6; */
	padding-bottom: 5px;
	padding-top: 5px;
}

#header-center {
	border: none;
}

.time {
	display: inline-block;
}

.colon {
	font-size: 125px;
}

.task-button {
	background-color: dimgray;
	margin-top: 1%
	
}

.task-form {
	width: 60%;
}

.time {
	font-size: 125px;
	text-shadow:
		-1px -1px 0 #000,
		1px 1px 0 #000; 
		1
text-shadow: 6px 6px 0px rgba(240,234,214,0.2);
		
		
}

.jumbo-box {
	bottom: 0px;
	

}

.header-box-left {
	

}

.btn {
	border-radius: 30px;
	border: 1px solid #F0EAD6;
	box-shadow: 2px 2px 2px 1px black;
}

.time-box {
	/* border: 2px solid #F0EAD6; */
	padding: 0px 10px;
}

.work {
	/* border-right: 1px solid black; */

}

.btn-break {
	font-size: 20px;
}

.car-item {
	margin-left: 15%;

}

.btn-remove {
	float: right;
	font-size: 12px;
	
	margin: 0px 5px;
}



.break-interval-form {
	
	float: left;
	margin-left: -4%

}

.work-interval-form{
	float: right;
	margin-right: -1%;
}

.play {
	text-align: left;


	
}

.work-time {
	text-align: right;
	
}

.logo {
	height: 100px;
	width: 100px;
	background-color: white;
	display: inline-block;
	margin-bottom: -20px;
	position: relative;
}

h1 {
	display: inline-block;
	line-height: 50%
}

