body {
background-color: dimgray;
}

.jumbotron {
	background-color:#ED5D40;
	background: url('../images/background.jpg');
	
	font-family: 'Flamante';
    color: #F0EAD6;
    text-shadow:
    -1px -1px 0 #000,

    1px 1px 0 #000;  
}

@font-face {
	font-family: 'Flamante';
	src: url('../fonts/Flamante/Flamante-Serif-FFP.ttf');
	font-weight: 500;
}


.lead {
	margin-top: 20px;
	font-family: sans-serif;
	text-shadow: none;
	
}

.main-heading {
	margin-top: -40px;
	margin-bottom: 20px;


}

#time {
	color: white;
	height: 200px;
	width: 300px;
	}

.steps {
/* 	background-color: #F0EAD6; */
	color: black;
	text-shadow: none;
	background-color: #F0EAD6;
	
}

#header-center {
	
	border: none;
	

}

.time {
	display: inline-block;

}

.colon {
	margin-right: -60px;
	margin-left: -60px;
}